/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
/*-----------------------------------*/

@import "minima/dark-mode";

$font-color: #dede1a;

body {
  color: $my-font-color;
}

h1 {
  color: $my-font-color;
}

a {
  color: $my-font-color;
}